/* Основные стили для мобильных устройств (Mobile First) */
body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .logo img {
    width: 48px;
    height: 48px;
}
 header {
    flex-direction: row;
    background: rgb(83, 82, 82);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 32px; 
    position: relative;
  }

 /* настройка нав меню ссылок*/
.nav-menu {
    background-color: aqua;
    margin-bottom: 20px;
    width: 100%
}
 /* настройка нав меню ссылок*/
.nav-menu nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
 /* настройка таблицы */
.sectionTable {
    margin-bottom: 20px;
    background-color: rgb(190, 129, 37);
    padding-left: 16px;
    width: 100%
}
  /* настройка таблицы, цвета строк,столбиков,линий*/
thead th {
    background-color: #3a5041;
    color: white;
    padding: 10px;
    text-align: left;
    border: 2px solid #3686cc;
}
 /* настройка таблицы, цвета строк,столбиков,линий*/
thead tr {
    background-color: #3686cc;

}
 /* настройка таблицы, цвета строк,столбиков,линий*/
tbody td {
    padding: 10px;
    border: 2px solid #3686cc;
}
 /* настройка таблицы, цвета строк,столбиков,линий*/
tbody .odd {
    background-color: #f9f9f9;
}
 /* настройка таблицы, цвета строк,столбиков,линий*/
tbody .even {
    background-color: #e9e9e9;
}


.sectionURL {
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: rgb(37, 116, 190);
}

.sectionForms {
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: rgb(190, 37, 144);
}

footer {
    padding-left: 16px;
    margin-bottom: 20px;
    background-color: rgb(156, 156, 156);
    padding: 16px; 
}


  /* Media Queries для планшетов и компьютеров*/
  @media (min-width: 768px) {
    header {
        order: 0;
        justify-content: left;
    }
    
    .logo img {
        width: 48px;
        height: 48px;
    }

    .nav-menu {
       position: absolute;
        top: 0; /* Отступ сверху */
        right: 32px; /* Прижимаем к правому краю */
        margin: 8px; /* Добавляем отступы */
        width: 20%;
    }
    
    .nav-menu nav {
        display: flex; /* Устанавливаем горизонтальное расположение элементов */
        flex-direction: row;
        background: rgb(83, 82, 82);
    }
    .nav-menu nav a {
        display: inline-block; /* Элементы располагаются в ряд */
        margin-right: 24px; /* Отступ между элементами, можно настроить */
        color: white; /* Цвет текста */
        text-decoration: none; /* Убирает подчеркивание ссылок */
      
    }
    
    .sectionTable {
        order: 3;
        max-width: 960px;
        margin: 0 auto;
    }
    .sectionURL {
        order: 2;
        max-width: 960px;
        margin: 0 auto;
    }
    .sectionForms {
        display: flex;
        flex-direction: column;
        width: 960px;
        margin: 0 auto;
        order: 4;
    }
    footer {
        order: 5;
    }
  }
